.topbar{
    width: 100%;
    height: 80px;
    background-color: $bg-blue-dark;

    &__wrapper{
        display: flex;
        height: 100%;
    }

    &__call, &__email{
        i{
            padding-right: 10px;
        }
    }

    &__logo{
        width: 140;
        height: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 36px;
        img{
            width: 70px;
            height: auto;
            object-fit: cover;
        }
    }

    &__right{
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }

    &__contact{
        display: flex;
        align-items: center;
        justify-content: end;
        flex: 1;
        gap: 30px;
        a{
            color: white;
            .icon{
                padding-right: 10px;
            }
        }
    }

    &__subcontact{
        display: flex;
        align-items: center;
        &__social{
            border-left: 2px solid white;
            padding: 0 20px;
            a{
                color: white;
                margin-right: 20px;
                    &:last-child{
                        margin-right: 0;
                    }
    
            }
        }
        

        &__language{
            border-left: 2px solid white;
            padding-left: 20px;

            a{
                color: white;
                transition: 0.5s;
                margin-right: 20px;

                &:last-child{
                    margin-right: 0;
                }

                &:hover{
                    color: $text-red;
                }
            }
        }
    }

    &__navigation{
        height: 100%;
        display: flex;
        list-style: none;
        margin-bottom: 0;
        flex: 1;
        &__item{
           // padding: 10px 25px;
            transition: 0.5s;
            display: flex;
            padding: 0px 25px;

            &:first-child{
                a{
                    font-weight: 700;
                    border-bottom: 4px solid $bg-red;
                }
            }

            &:last-child{
                padding-right: 0;
            }
            a{
                color: white;
                text-decoration: none;
                font-size: 1.8rem;
                font-weight: 700;
                transition: 0.5s;

                &:hover{
                    font-weight: 700;
                    border-bottom: 4px solid $bg-red;
                }
            }

        }

        
    }

}

@media screen and (max-width: 1199px) {
    .topbar{
        display: none;
    }
}