.news{
    width: 100%;

    background-color: #f0efef;
    position: relative;
    padding-bottom: 52px;
    &::after {
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/assets/images/news-bg.svg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.15;
        z-index: 1;
    }

    & * {
        z-index: 9999;
    }


    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 60px;
        margin-bottom: 54px;
    }

    &__title{
        font-size: 3.2rem;
        font-weight: 900;
        color: $text-red;
        line-height: 0;

        &__image{
            width: 20px;
            height: auto;
        }
    }

    &__button{
        &__image{
            width: 26px;
            height: auto;
            margin-right: 10px;
        }
    }

    &__list{
        // height: 316px;
        // list-style: none;
        // -webkit-column-count: 3;
        // -moz-column-count: 3;
        // column-count: 3;
        list-style: none;
        height: 316px;
        display: grid;
        padding-left: 0;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 120px;
    }

    &__item{
        // flex: 1 0 25%;
        // color: #fff;
        //flex: 1;
        height: 40px;

        &:first-child{
            grid-row: 1/5;
            .news__box{
                overflow: hidden;
                margin-bottom: 30px;
            }
        }

        &__box{
            display: flex;
            align-items: center;

            &:hover{
                .news__item__title{
                    color: $text-red;
                }
            }
        }

        &__subbox{
            text-align: center;
            padding: 6px;
            border-radius: 10px;
            color: white;
            background-color: $text-red;
            margin-right: 14px;
        }

        &__date{
            font-size: 1.8rem;
            font-weight: 800;
            margin-bottom: 0;
        }
        &__month{
            font-size: 1.2rem;
            font-weight: 400;
            margin-bottom: 0;
            white-space: nowrap;
        }

        &__title{
            font-size: 1.8rem;
            font-weight: 600;
            transition: 0.5s;
            margin-bottom: 0;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__main{
        &__box{
            flex-direction: column;
            overflow: hidden;
            &:hover{
                & .news__image{
                    transform: scale(1.5);
                    overflow: hidden;
                }
            }
        }
    }

    &__box{
        width: 472px;
        height: 240px;
    }

    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
    }
}

@media screen and (max-width: 1619px) {
    .news{
        &__list{
            grid-column-gap: 60px;
        }
    }
}

@media screen and (max-width: 1399px) {
    .news{

        &__box{
            width: 100%;
            height: auto;
        }

        &__item{
            height: auto;
            &__title{
                font-size: 1.6rem;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .news{
        &__list{
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 12px;
            margin-bottom: 50px;
        }
    }

}

@media screen and (max-width: 767px) {
    .news{
        &__title{
            font-size: 2.6rem;
        }

        &__list{
            height: 100%;
            grid-gap: 20px;
            grid-template-columns: 1fr;
            margin-bottom: 0;
        }
    }
}